{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>
        {{ message }}
    </p>
{% endfor %}
{% endif %}
{% endwith %}


<form action="/add_user" method="post">
    <input type="text" name="fullname" placerholder="Full Name">
    <input type="text" name="phone" placerholder="Phone">
    <input type="text" name="email" placerholder="Email">
    <button type="submit">Submit</button>
</form>

<table>
    <thead>
        <tr>
            <td>FullName</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Operation</td>
        </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr>
            <td>{{ contact.1}}</td>
            <td>{{ contact.2}}</td>
            <td>{{ contact.3}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>