<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
}    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>F-test</title>
</head>
<body>
    <div>
        <div class="w3-container w3-teal w3-blue">
            <h1>F-test</h1>
        </div>
        <div class="w3-container">
            <label for="height" class="w3-text-teal">Height (cm):</label>
            <input type="number" id="height" class="w3-input w3-border w3-light-grey" placeholder="Enter height">
        </div>
        <div class="w3-container">
            <label for="weight" class="w3-text-teal">Weight (kg):</label>
            <input type="number" id="weight" class="w3-input w3-border w3-light-grey" placeholder="Enter weight">
        </div>
        <div class="w3-center">
             <button id="calculateBtn" class="w3-btn w3-blue-grey w3-round-large">Calculate BMI</button>
        </div>
        <div id="result"></div>
    </div>
    <script src="static/index.js"></script>
</body>
</html>