<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Test Login Setter 2.0</title>
</head>
<body>
<div>
    <div class="w3-container w3-teal">
        <h2>Input Form</h2>
        <h6>Please login</h6>
    </div>
    <form class="w3-container" action="/login" method="post">
        <label id="username_id" class="w3-text-teal"><b>Username</b></label>
        <label>
            <input class="w3-input w3-border w3-light-grey" type="text" name="username">
        </label>
        <label id="password_id" class="w3-text-teal"><b>Password</b></label>
        <label>
            <input class="w3-input w3-border w3-light-grey" type="password" name="password">
        </label>
        <div>
            <button id="register_id" class="w3-btn w3-blue-grey w3-round-large">Login</button>
        </div>
    </form>
</div>
</body>
</html>